<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userScreen.css">
    <title>Home</title>
</head>
<body>
    <div class="areaSolicitacoes">
        <form action="/searchComponent/<%= user %>" method="post">
            <input type="text" name="componentName" placeholder="Nome do componente" class="searchBar">
            <button type="submit" class="searchBt"><img src="/img/lupa.png" alt=""></button>
        </form>
        
        <div class="listaComponentes">
            <% for (let i in components) { %>

                <div class="dadosComponente">
                    <input type="checkbox" name="component" value="<%= components[i].nome %>" class="caixaSelecao">

                    <h2 class="nomeComponente"><%= components[i].nome %></h2>
                    
                    <select id="spec<%= components[i].nome %>" class="componente">
                        <% for (let j = 0; j < components[i].specification.length; j++) {%>
                            <option value="<%= components[i].specification[j].power %>"><%= components[i].specification[j].power %> | <%= components[i].specification[j].amount %> unidades restantes</option>
                        <% } %>
                    </select>
                    
                    <input type="number" id="amount<%= components[i].nome %>" placeholder="Unidades" class="unidades">
                </div>
            <% } %>
        </div>

        <button onclick="finalizar('<%= user %>')" class="solicitarBt">Solicitar componentes</button>
    </div>

    <div id="loansWindow">        
        <% for (let i in myLoans) { %>
            <div class="itensEmprestados">
                <h3 class="info"><%= myLoans[i].nome_componente %></h3>
                <p class="info">Espeficação: <%= myLoans[i].specs %></p>
                <p class="info">Quantia: <%= myLoans[i].quantidade %></p>
            </div>
        <% } %>
    </div>

    <script>
        function finalizar(user) {
            let items = []

            document.getElementsByName("component").forEach((item) => {
                if (item.checked === true) {
                    let rqt = {
                        registration: user,
                        component: item.value, 
                        spec: document.getElementById(`spec${item.value}`).value, 
                        amount: Number(document.getElementById(`amount${item.value}`).value)
                    }
                    
                    items.push(rqt)
                }
            })
            
            fetch("/requestComponents", {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(items)
            })
            .then((data) => {
                if (data.ok) {
                    location.reload()
                }
            })
            .catch((err) => {
                console.error(err)
            })
        }
    </script>
</body>
</html>